<div class="jumbotron">
  <h1>BC Gov's CAPTCHA microservice</h1>
  <p> Simple integration pattern with your application to provide service to discern human user 
    from bots.
  </p>
  <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
</div>
<div class="container">
  <!--
    http://localhost:8080
    https://captcha-service-gcpe-mygovbc-demo.pathfinder.gov.bc.ca
    -->
  <div class="row">
    <div class="col-sm-12 col-md-6">
         <captcha 
            apiBaseUrl="https://captcha-service-gcpe-mygovbc-demo.pathfinder.gov.bc.ca" 
            nonce="BCGov Captcha Demo"
              (onValidToken)="handleAuthToken($event)"></captcha>   
    </div>
  </div>
</div>
